page {
  --nutui-color-primary: #4e54c8;
  --nutui-tabs-tabpane-backgroundColor: #f5f5f5;
  --nutui-tabs-tabpane-padding: 16px;
  --nutui-tabs-titles-background-color: #fff;
  --nutui-tabs-titles-item-min-width: 40px;
  --nutui-tabs-titles-gap: 10px;
  --header-height: 64px;
  --tabs-height: 44px;
  --tabbar-height: 50px;
}
