.scrollable-list {
  height: 100vh;

  ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    color: transparent;
  }

  .loading,
  .empty-state,
  .loading-more,
  .no-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: #999;
    font-size: 14px;
  }

  .list-content {
    .list-item {
      &:last-child {
        margin-bottom: 16px;
      }
    }
  }
}